<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome to my project</title>
    </head>
    <body>
        <h1>Welcome to my project</h1>
        <p>
            Below is a list of api calls you can call.
        </p>
        <ul>
            <li>/artists</li>
            <li>/artists/{token}</li>
            <li>/albums/{token}</li>
        </ul>
        <br/>
    </body>
</html>
